In [98]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [99]:
train=pd.read_csv('criminal_train.csv')
train.head()

,PERID,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,...,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,Criminal
0,25095143,4,2,4,1,3,1,1,1,99,...,1,2,1,1,2,2,3884.805998,40026,1,0
1,13005143,4,1,3,1,2,1,1,1,99,...,2,2,2,3,2,2,1627.108106,40015,2,1
2,67415143,4,1,2,1,2,1,1,1,99,...,2,2,2,3,2,2,4344.957980,40024,1,0
3,70925143,4,0,2,1,1,1,1,1,99,...,2,2,1,1,2,2,792.521931,40027,1,0
4,75235143,1,0,6,1,4,1,1,1,99,...,2,2,2,2,2,2,1518.118526,40001,2,0

In [100]:
train.shape

(45718, 72)

In [101]:
len(train.columns)

72

In [102]:
test=pd.read_csv('criminal_test.csv')
test.head()

,PERID,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
0,66583679,4,0,4,1,2,1,1,1,99,...,2,2,2,1,1,2,2,16346.795400,40020,1
1,35494679,4,0,4,1,1,1,1,1,99,...,3,2,2,1,1,2,2,3008.863906,40044,2
2,79424679,2,0,3,1,2,1,1,1,99,...,1,2,2,2,2,2,2,266.952503,40040,2
3,11744679,4,0,6,1,2,1,1,1,99,...,3,2,2,1,1,2,2,5386.928199,40017,1
4,31554679,1,0,4,1,3,1,1,1,99,...,3,2,1,1,1,2,2,173.489895,40017,1

In [103]:
len(test.columns)

71

In [104]:
train.head(1)

,PERID,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,...,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,Criminal
0,25095143,4,2,4,1,3,1,1,1,99,...,1,2,1,1,2,2,3884.805998,40026,1,0

In [105]:
train.describe()

,PERID,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,...,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,Criminal
count,4.571800e+04,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,...,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000
mean,5.445446e+07,3.355549,0.476486,3.426375,1.001706,2.084124,1.007437,1.162606,1.011024,97.394943,...,2.219410,2.234940,1.646135,1.764666,1.978936,1.978739,4692.661179,40023.739118,1.493854,0.069447
std,2.553911e+07,1.176651,0.888472,1.427420,0.061314,1.102988,0.123162,0.469029,0.146444,12.355156,...,5.295784,5.293651,0.618403,0.771411,0.144510,0.145161,5724.659486,265.140430,0.500230,0.254216
min,1.000222e+07,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,3.233189e+07,4.000000,0.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,99.000000,...,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,1252.396472,40013.000000,1.000000,0.000000
50%,5.411043e+07,4.000000,0.000000,3.000000,1.000000,2.000000,1.000000,1.000000,1.000000,99.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2719.335160,40025.000000,1.000000,0.000000
75%,7.612731e+07,4.000000,1.000000,4.000000,1.000000,3.000000,1.000000,1.000000,1.000000,99.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,5765.810794,40039.000000,2.000000,0.000000
max,9.999956e+07,4.000000,3.000000,6.000000,3.000000,4.000000,3.000000,3.000000,3.000000,99.000000,...,98.000000,98.000000,3.000000,3.000000,2.000000,2.000000,109100.623000,40050.000000,2.000000,1.000000

# Outliers Detection

In [106]:
#to find out unique values in each column
for i in train.columns:
    print(train[i].value_counts())

75630676    1
83146076    1
81644028    1
77824546    1
34469236    1
21902117    1
93838705    1
51696127    1
51916143    1
75582057    1
84360557    1
90814485    1
10755433    1
16535027    1
67228665    1
85222758    1
31186818    1
58410338    1
23616865    1
47790259    1
51429176    1
77922966    1
89118397    1
63999355    1
69253333    1
64146835    1
66641297    1
89773456    1
47328655    1
61650379    1
           ..
15323823    1
89316014    1
31048365    1
57985708    1
68078288    1
83923623    1
57433755    1
51419846    1
17714707    1
89533017    1
85490638    1
45843173    1
28881635    1
63152865    1
20726493    1
69825243    1
39409735    1
46480506    1
17001176    1
54663894    1
55636683    1
71762645    1
78777044    1
80884435    1
19801204    1
29958865    1
63953257    1
94487245    1
65592557    1
25639545    1
Name: PERID, Length: 45718, dtype: int64
 4    34873
 1     7780
 2     3050
 3       13
-1        2
Name: IFATHER, dtype: int64
 0    33475
 1     4999
 2     4611
 3     2549
-1       84
Name: NRCH17_2, dtype: int64
 4    10933
 2    10258
 3    10173
 5     6175
 6     4566
 1     3611
-1        2
Name: IRHHSIZ2, dtype: int64
 1    45675
 3       41
-1        2
Name: IIHHSIZ2, dtype: int64
 1    19258
 2    10126
 3     9554
 4     6778
-1        2
Name: IRKI17_2, dtype: int64
 1    45544
 3      172
-1        2
Name: IIKI17_2, dtype: int64
 1    40188
 2     3618
 3     1910
-1        2
Name: IRHH65_2, dtype: int64
 1    45443
 3      235
 2       38
-1        2
Name: IIHH65_2, dtype: int64
 99    44865
 2       752
 98       61
 94       33
 97        5
-1         2
Name: PRXRETRY, dtype: int64
 99    32502
 1     13079
 98       61
 2        38
 94       33
 97        3
-1         2
Name: PRXYDATA, dtype: int64
 2     41703
 1      3789
 94      159
 97       39
 98       22
 85        4
-1         2
Name: MEDICARE, dtype: int64
 2     35030
 1     10248
 94      318
 85       51
 97       47
 98       22
-1         2
Name: CAIDCHIP, dtype: int64
 2     43849
 1      1738
 94       74
 97       29
 98       22
 85        4
-1         2
Name: CHAMPUS, dtype: int64
 1     27827
 2     17567
 94      252
 97       44
 98       22
 85        4
-1         2
Name: PRVHLTIN, dtype: int64
 1     24551
 99    17567
 2      3205
 98      275
 94       70
 97       45
 85        3
-1         2
Name: GRPHLTIN, dtype: int64
 99    39592
 2      4643
 1      1431
 94       22
 98       22
 97        6
-1         2
Name: HLTINNOS, dtype: int64
 2     37287
 99     4643
 1      3270
 98      347
 94       90
 97       58
 85       21
-1         2
Name: HLCNOTYR, dtype: int64
 99    41930
 1       644
 2       479
 98      456
 3       448
 6       355
 4       266
 5       210
 8       173
 12      159
 11      146
 9       145
 10      130
 7        98
 97       59
 94       16
 85        2
-1         2
Name: HLCNOTMO, dtype: int64
 99    40649
 4      1315
 3       958
 5       904
 1       872
 2       559
 98      368
 97       58
 94       33
-1         2
Name: HLCLAST, dtype: int64
 99    41553
 4       972
 1       755
 5       397
 98      368
 3       342
 2       305
 6       245
 12      224
 10      174
 11      162
 7        63
 97       62
 9        51
 8        21
 94       20
 85        2
-1         2
Name: HLLOSRSN, dtype: int64
 99    44378
 1       451
 6       450
 98      378
 97       56
 94        3
-1         2
Name: HLNVCOST, dtype: int64
 99    44378
 6       765
 98      378
 1       136
 97       56
 94        3
-1         2
Name: HLNVOFFR, dtype: int64
 99    44378
 6       874
 98      378
 97       56
 1        27
 94        3
-1         2
Name: HLNVREF, dtype: int64
 99    44378
 6       721
 98      378
 1       180
 97       56
 94        3
-1         2
Name: HLNVNEED, dtype: int64
 99    44378
 6       768
 98      378
 1       133
 97       56
 94        3
-1         2
Name: HLNVSOR, dtype: int64
 2    35320
 1    10396
-1        2
Name: IRMCDCHP, dtype: int64
 1    45278
 3      438
-1        2
Name: IIMCDCHP, dtype: int64
 2    41915
 1     3801
-1        2
Name: IRMEDICR, dtype: int64
 1    45492
 3      224
-1        2
Name: IIMEDICR, dtype: int64
 2    43975
 1     1741
-1        2
Name: IRCHMPUS, dtype: int64
 1    45587
 3      129
-1        2
Name: IICHMPUS, dtype: int64
 1    27998
 2    17718
-1        2
Name: IRPRVHLT, dtype: int64
 1    45394
 3      322
-1        2
Name: IIPRVHLT, dtype: int64
 99    39493
 2      4755
 1      1468
-1         2
Name: IROTHHLT, dtype: int64
 9    39218
 1     6074
 3      424
-1        2
Name: IIOTHHLT, dtype: int64
 98    45707
 1         9
-1         2
Name: HLCALLFG, dtype: int64
 98    45707
 1         9
-1         2
Name: HLCALL99, dtype: int64
 1     40649
 2      4643
 94      324
 97       56
 98       44
-1         2
Name: ANYHLTI2, dtype: int64
 1    40961
 2     4755
-1        2
Name: IRINSUR4, dtype: int64
 1    45292
 3      424
-1        2
Name: IIINSUR4, dtype: int64
 2    39095
 1     6621
-1        2
Name: OTHINS, dtype: int64
 2     25919
 1     19713
 97       33
 98       26
 94       20
 85        5
-1         2
Name: CELLNOTCL, dtype: int64
 1     44647
 2      1010
 98       26
 97       23
 94        5
 85        5
-1         2
Name: CELLWRKNG, dtype: int64
 2    38313
 1     7403
-1        2
Name: IRFAMSOC, dtype: int64
 1    45285
 3      431
-1        2
Name: IIFAMSOC, dtype: int64
 2    42595
 1     3121
-1        2
Name: IRFAMSSI, dtype: int64
 1    45282
 3      434
-1        2
Name: IIFAMSSI, dtype: int64
 2    36580
 1     9136
-1        2
Name: IRFSTAMP, dtype: int64
 1    45487
 3      229
-1        2
Name: IIFSTAMP, dtype: int64
 2    44497
 1     1219
-1        2
Name: IRFAMPMT, dtype: int64
 1    45376
 3      340
-1        2
Name: IIFAMPMT, dtype: int64
 2    44069
 1     1647
-1        2
Name: IRFAMSVC, dtype: int64
 1    45457
 3      259
-1        2
Name: IIFAMSVC, dtype: int64
 99    43261
 12     1287
 1       238
 6       188
 2       170
 3       151
 4       117
 5        72
 8        64
 9        63
 7        43
 10       37
 11       25
-1         2
Name: IRWELMOS, dtype: int64
 9    42887
 1     2367
 3      462
-1        2
Name: IIWELMOS, dtype: int64
 1    21564
 2     7158
 3     4536
 6     3318
 4     3291
 7     3181
 5     2668
-1        2
Name: IRPINC3, dtype: int64
 7    14636
 6     7126
 2     5572
 3     5032
 4     4774
 5     4516
 1     4060
-1        2
Name: IRFAMIN3, dtype: int64
 1    44310
 3     1406
-1        2
Name: IIPINC3, dtype: int64
 1    41279
 3     4437
-1        2
Name: IIFAMIN3, dtype: int64
 2    34872
 1    10844
-1        2
Name: GOVTPROG, dtype: int64
 3    25819
 2    10225
 1     9331
-1      343
Name: POVERTY3, dtype: int64
 2     42270
 1      3307
 98      139
-1         2
Name: TOOLONG, dtype: int64
 2     42980
 1      2597
 98      139
-1         2
Name: TROUBUND, dtype: int64
 2    22526
 1    19681
 3     3509
-1        2
Name: PDEN10, dtype: int64
 1    20236
 2    15997
 3     9483
-1        2
Name: COUTYP2, dtype: int64
 2    44759
 1      957
-1        2
Name: MAIIN102, dtype: int64
 2    44750
 1      966
-1        2
Name: AIIND102, dtype: int64
521.442981      7
806.828999      5
361.998180      3
447.251800      3
1801.997436     2
15537.555280    2
420.740684      2
450.480165      2
1486.776465     2
7077.669459     2
3498.603931     2
1568.489604     2
4264.560820     2
7424.281009     2
742.197676      2
5225.694560     2
8972.016862     2
562.333265      2
18871.431930    2
2432.751856     2
11406.144530    2
744.402601      2
11518.303740    2
5099.670562     2
290.790525      2
4513.512374     2
13185.580400    2
1179.817850     2
18350.328460    2
948.232087      2
               ..
2764.258162     1
6695.179388     1
7156.556372     1
880.007299      1
4547.781313     1
8943.461411     1
4716.089895     1
7610.443760     1
1094.580087     1
1696.826602     1
213.873143      1
1310.286402     1
3428.889970     1
15949.053030    1
845.144134      1
11062.130130    1
6899.777114     1
8488.741485     1
4008.974156     1
3131.051836     1
2159.024653     1
2576.106767     1
1092.397304     1
2714.447117     1
185.937266      1
1360.048194     1
690.908204      1
678.833469      1
1593.414431     1
4564.473359     1
Name: ANALWT_C, Length: 45647, dtype: int64
 40048    1050
 40040    1040
 40020    1032
 40010    1028
 40045    1020
 40019    1017
 40029    1014
 40005    1013
 40008    1001
 40009     997
 40047     994
 40049     989
 40041     975
 40021     968
 40050     959
 40011     959
 40018     944
 40039     933
 40043     929
 40004     929
 40017     927
 40013     927
 40006     924
 40001     920
 40007     919
 40030     901
 40042     898
 40046     895
 40022     893
 40028     892
 40025     889
 40002     887
 40026     884
 40038     883
 40003     879
 40035     878
 40015     871
 40034     860
 40012     859
 40023     848
 40014     848
 40033     841
 40016     834
 40037     824
 40036     822
 40044     814
 40024     804
 40031     786
 40032     782
 40027     736
-1           2
Name: VESTR, dtype: int64
 1    23134
 2    22582
-1        2
Name: VEREP, dtype: int64
0    42543
1     3175
Name: Criminal, dtype: int64

    Treating outliers

In [107]:
from scipy import stats
train[(np.abs(stats.zscore(train)) < 3).all(axis=1)]

,PERID,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,...,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,Criminal
0,25095143,4,2,4,1,3,1,1,1,99,...,1,2,1,1,2,2,3884.805998,40026,1,0
2,67415143,4,1,2,1,2,1,1,1,99,...,2,2,2,3,2,2,4344.957980,40024,1,0
3,70925143,4,0,2,1,1,1,1,1,99,...,2,2,1,1,2,2,792.521931,40027,1,0
13,85326143,1,0,3,1,2,1,1,1,99,...,2,2,1,1,2,2,2671.376188,40035,2,0
16,73856143,4,0,2,1,1,1,1,1,99,...,2,2,2,2,2,2,5014.378391,40023,1,0
17,82956143,4,2,4,1,3,1,1,1,99,...,2,2,3,3,2,2,4757.271596,40033,1,0
19,58307143,1,0,4,1,3,1,1,1,99,...,2,2,2,3,2,2,330.258076,40036,1,0
20,67407143,1,0,4,1,3,1,1,1,99,...,2,2,2,3,2,2,2398.833215,40028,2,0
21,83427143,4,1,3,1,2,1,1,1,99,...,2,2,2,2,2,2,4247.334140,40008,2,0
25,96887143,4,0,4,1,2,1,1,1,99,...,2,2,1,1,2,2,751.207301,40046,1,0
28,15268143,4,0,3,1,1,1,1,1,99,...,2,2,2,3,2,2,416.917733,40036,1,0
29,79868143,1,0,4,1,3,1,1,1,99,...,2,2,2,2,2,2,432.992914,40016,2,0
30,36978143,4,3,6,1,4,1,1,1,99,...,2,2,1,1,2,2,6030.527292,40010,1,0
32,56929143,4,0,2,1,1,1,1,1,99,...,2,2,1,1,2,2,14646.487540,40022,2,0
33,25839143,4,0,2,1,1,1,1,1,99,...,2,2,1,1,2,2,4495.388481,40004,1,0
34,19149143,4,2,3,1,3,1,1,1,99,...,2,2,1,1,2,2,3526.970272,40016,2,0
35,61569143,4,0,1,1,1,1,1,1,99,...,2,2,2,2,2,2,1382.558535,40038,2,0
38,80610143,4,2,4,1,3,1,1,1,99,...,2,2,2,2,2,2,4756.838223,40034,2,0
39,91130143,1,0,3,1,2,1,1,1,99,...,2,2,2,2,2,2,870.707332,40011,2,0
45,59611143,4,0,4,1,2,1,1,1,99,...,2,2,2,2,2,2,3697.484793,40013,2,0
46,33541143,4,2,4,1,3,1,1,1,99,...,2,2,3,3,2,2,8738.039448,40018,1,0
48,47141143,1,0,4,1,2,1,1,1,99,...,2,2,1,1,2,2,1888.285663,40029,1,0
49,30081143,4,0,6,1,2,1,1,1,99,...,2,2,1,1,2,2,3304.408849,40026,1,0
50,34492143,4,0,2,1,1,1,1,1,99,...,2,2,1,1,2,2,15713.883900,40017,1,0
51,15912143,4,0,3,1,1,1,1,1,99,...,1,2,2,2,2,2,2779.654628,40011,2,0
58,43493143,1,0,4,1,2,1,1,1,99,...,2,2,2,2,2,2,645.117015,40048,2,0
59,67423143,1,0,5,1,4,1,1,1,99,...,2,2,2,3,2,2,914.626530,40009,1,0
60,45433143,4,0,2,1,1,1,1,1,99,...,2,2,2,2,2,2,2117.786083,40026,1,0
62,31163143,4,0,1,1,1,1,1,1,99,...,2,1,1,1,2,2,1560.382387,40006,2,0
63,15573143,4,2,4,1,3,1,1,1,99,...,2,2,1,1,2,2,10213.962850,40033,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45662,65865679,1,0,3,1,2,1,1,1,99,...,2,2,1,1,2,2,742.197676,40003,1,0
45663,53496679,1,0,4,1,2,1,1,1,99,...,2,2,2,1,2,2,4697.740781,40034,1,0
45664,69226679,4,1,3,1,2,1,1,1,99,...,2,2,1,1,2,2,4680.724577,40035,1,0
45667,97236679,4,1,6,1,4,1,1,1,99,...,2,2,1,1,2,2,3699.275146,40040,1,0
45669,68846679,2,0,3,1,3,1,1,1,99,...,2,2,2,2,2,2,601.086131,40009,2,0
45670,69176679,4,3,5,1,4,1,1,1,99,...,2,2,2,2,2,2,402.900262,40017,2,0
45673,37517679,4,0,3,1,1,1,1,1,99,...,2,2,1,1,2,2,3828.115220,40020,2,0
45675,96757679,4,2,4,1,3,1,1,1,99,...,2,2,2,2,2,2,5117.447405,40009,1,0
45680,65948679,1,0,5,1,4,1,1,1,99,...,2,2,1,1,2,2,1658.353748,40027,2,0
45682,67368679,1,0,5,1,3,1,1,1,99,...,2,2,1,1,2,2,2144.956656,40020,2,0
45684,15188679,4,2,3,1,3,1,1,1,99,...,2,2,2,2,2,2,3380.628545,40047,1,0
45685,32579679,4,0,4,1,1,1,1,1,99,...,2,2,2,2,2,2,498.426645,40013,2,0
45687,59820679,2,0,3,1,3,1,1,1,99,...,2,2,3,3,2,2,1076.670365,40024,2,0
45690,65360679,1,0,4,1,3,1,1,1,99,...,2,2,2,3,2,2,1096.831803,40017,2,0
45691,29960679,4,0,4,1,1,1,1,1,99,...,2,2,2,2,2,2,423.457314,40013,1,0
45693,67970679,4,0,2,1,1,1,1,1,99,...,2,2,1,1,2,2,1827.943610,40005,1,0
45694,95501679,4,2,4,1,3,1,1,1,99,...,2,2,2,2,2,2,1620.395136,40041,2,0
45696,64411679,4,0,3,1,1,1,1,1,99,...,2,2,1,1,2,2,6337.800897,40029,2,0
45697,34221679,4,0,3,1,1,1,2,1,99,...,2,2,1,1,2,2,2784.636409,40050,1,0
45698,11331679,4,0,4,1,1,1,1,1,99,...,2,2,1,1,2,2,8943.198244,40019,1,0
45699,19671679,1,0,4,1,3,1,1,1,99,...,2,2,1,1,2,2,1234.591124,40006,2,0
45700,37681679,1,0,3,1,2,1,1,1,99,...,2,1,2,2,2,2,316.479457,40010,1,0
45701,49002679,4,0,4,1,1,1,1,1,99,...,2,2,1,1,2,2,2980.588149,40010,1,0
45702,67632679,4,3,5,1,4,1,1,1,99,...,2,2,1,1,2,2,7102.143169,40049,1,0
45704,71752679,4,3,6,1,4,1,1,1,99,...,2,2,2,3,2,2,531.775773,40036,1,0
45705,86062679,4,1,2,1,2,1,1,1,99,...,2,2,2,2,2,2,1284.461723,40042,2,0
45707,29382679,4,2,4,1,3,1,1,1,99,...,2,2,3,3,2,2,325.704473,40004,1,0
45708,99193679,1,0,6,1,4,1,1,1,99,...,2,2,2,3,2,2,1966.301610,40001,1,0
45716,29283679,4,0,1,1,1,1,1,1,99,...,2,2,2,2,2,2,3847.137418,40050,1,0
45717,87483679,4,0,4,1,1,1,1,1,99,...,2,2,1,1,2,2,11357.793720,40018,2,0

# PCA

In [108]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale

In [109]:
X=train.drop('Criminal',axis=1)
X_target=train['Criminal']

In [110]:
scaler=scale(X)

In [111]:
pca = PCA(.95)

In [112]:
pca.fit(X)

PCA(copy=True, iterated_power='auto', n_components=0.95, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [113]:
X=pca.transform(X)

In [114]:
Y=test

In [115]:
scaler=scale(Y)

In [116]:
pca.fit(Y)

PCA(copy=True, iterated_power='auto', n_components=0.95, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [117]:
Y=pca.transform(Y)

In [118]:
var= pca.explained_variance_ratio_

In [119]:
pca.components_

array([[  1.00000000e+00,  -7.97978700e-10,   2.47894625e-10,
          4.39229477e-10,   6.23533116e-12,   5.81643806e-10,
          1.95671492e-11,  -2.82165699e-11,   1.51390094e-11,
          7.19463996e-10,  -1.84290858e-08,  -2.87832606e-09,
         -5.92098314e-09,  -1.20191674e-09,  -2.15342111e-09,
         -3.79659143e-09,   1.09670821e-08,  -8.64672420e-09,
          6.65756974e-09,   8.83080672e-09,   9.26309341e-09,
         -7.35850698e-10,  -7.67873918e-10,  -7.26285649e-10,
         -7.16950490e-10,  -7.80316008e-10,  -1.60122822e-10,
         -1.27747212e-10,  -4.59652997e-11,  -6.15509800e-11,
          4.57220902e-11,  -2.72564924e-11,  -3.17309648e-11,
         -4.62785209e-11,   1.19668640e-08,   9.42718042e-10,
          5.75942926e-11,   5.75942926e-11,  -7.67872201e-10,
         -9.41369680e-11,  -1.40443873e-11,   1.25356023e-11,
          2.33649412e-09,   4.46134205e-10,   1.50663487e-10,
          5.25043928e-12,   4.43684200e-11,  -7.30115589e-11,
         -1.46459483e-11,  -8.83818528e-12,   5.75650878e-11,
          9.74023549e-12,  -3.92472479e-11,   5.24483532e-11,
          3.74460054e-09,   2.45526527e-10,  -4.07449299e-10,
         -1.22951195e-10,  -1.41303762e-10,  -2.14293738e-10,
          3.54644226e-11,  -1.20487871e-10,  -3.21098069e-09,
         -3.26402149e-09,  -1.41995043e-11,  -1.06837314e-10,
          4.41022393e-11,   2.30679468e-11,   1.51284584e-06,
          3.10344224e-10,  -2.28478791e-11]])

In [120]:
#ca_trafo = PCA().fit(train)

#lt.semilogy(pca_trafo.explained_variance_ratio_, '--o')

In [121]:
#from sklearn.preprocessing import StandardScaler

In [122]:
#z_scaler = StandardScaler()

In [123]:
#z_data = z_scaler.fit_transform(train)

In [124]:
#pca_trafo = PCA().fit(z_data);

#plt.semilogy(pca_trafo.explained_variance_ratio_, '--o');
#plt.semilogy(pca_trafo.explained_variance_ratio_.cumsum(), '--o');

In [125]:
#AIIND102

In [126]:
from xgboost import XGBClassifier

In [133]:
clf=XGBClassifier(max_depth=6,learning_rate=0.05,n_estimators=700)

In [134]:
clf.fit(X,X_target)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.05, max_delta_step=0,
       max_depth=6, min_child_weight=1, missing=None, n_estimators=700,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [135]:
p=clf.predict(Y)

In [136]:
prediction = pd.DataFrame(p, columns=['Criminal']).to_csv('criminal.csv')

In [157]:
#using all features and XGBRegressor getting 93.806% accruacy,
#Extra Decision Trees Classifier feature selection makes accuracy to 92.231%
#PCA gives an accuracy of 93.053
#RF gives accuracy of 86.562%

#                 Rough Work & Experiments

In [142]:
#def correlation(dataset, threshold):
#    col_corr = set() # Set of all the names of deleted columns
#    corr_matrix = dataset.corr()
#   for i in range(len(corr_matrix.columns)):
#        for j in range(i):
#            if corr_matrix.iloc[i, j] >= threshold:
#                colname = corr_matrix.columns[i] # getting the name of column
#               col_corr.add(colname)
#                if colname in dataset.columns:
#                    del dataset[colname] # deleting the column from the dataset

#    print(dataset)

In [143]:
#correlation(train,0.8)

In [144]:
#correlation(test,0.8)

In [145]:
#print(len(train.columns))
#print(len(test.columns))

In [146]:
#train.columns

In [147]:
#test.columns

In [148]:
#test.drop('IRWELMOS',axis=1,inplace=True)

In [149]:
#X_train=train.drop('Criminal',axis=1)
#y_train=train['Criminal']

In [150]:
#from sklearn.ensemble import ExtraTreesClassifier
#from sklearn.feature_selection import SelectFromModel
#clf = ExtraTreesClassifier(random_state=0)
#clf = clf.fit(X_train, y_train)
#clf.feature_importances_  

#model = SelectFromModel(clf, prefit=True)

In [151]:
#X_train_opt = model.transform(X_train)
#feature_idx_train = model.get_support()
#feature_name_train = X_train.columns[feature_idx_train]
#print(feature_name_train)

In [152]:
#X_train=train[['PERID', 'IFATHER', 'IRHHSIZ2', 'IRKI17_2', 'PRVHLTIN', 'GRPHLTIN','IRPINC3', 'IRFAMIN3', 'PDEN10', 'ANALWT_C', 'VESTR']]
#y_train=train['Criminal']

In [153]:
#X_test=test[['PERID', 'IFATHER', 'IRHHSIZ2', 'IRKI17_2', 'PRVHLTIN', 'GRPHLTIN','IRPINC3', 'IRFAMIN3', 'PDEN10', 'ANALWT_C', 'VESTR']]

In [154]:
#from xgboost import XGBClassifier
#clf1=XGBClassifier()

In [155]:
#clf1 = xgb.XGBClassifier(max_depth=7,n_estimators=350,learning_rate=0.05,scale_pos_weight=6).fit(X_train,y_train)        
#p=clf1.predict(X_test)

In [156]:
#prediction = pd.DataFrame(p, columns=['Criminal']).to_csv('criminal.csv')